.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4rem ;
  padding-right: 4rem ;
  padding-top: 1rem ;
  padding-bottom: 1rem ;
    .logo img {

      max-width: 30%;
      height: auto;     // 👈 Manté la proporció original
      display: block;   // 👈 Evita espais no desitjats
    }
  }



.footer {
  background-color: #ffffff;
  text-align: center;

  font-size: 0.9rem;
  color: #333;
  padding-left: 4rem ;
  padding-right: 4rem ;
  padding-top: 1rem ;
  padding-bottom: 1rem ;

  hr {
    width: 60%;
    margin: 2rem auto;
    border: none;
    border-top: 4px solid #bbdefb;
  }

  .footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    flex-wrap: wrap;
  }

  .footer__logo img {
    max-height: 50px;
  }

  .footer__nav {
    display: flex;
    gap: 4rem;
    justify-content: center;
    flex: 1;
  }

  .footer__nav a {
    color: #1565c0;
    text-decoration: none;
    font-weight: bold;
  }

  .footer__icons {
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
  }

  .footer__icons a {
    color: #1565c0;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: #64b5f6;
    }
  }
}


